.intro-container, .header-container, .header-container-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/OpenSans-Regular.eot");
  src: local("../../fonts/Open Sans Regular"), local("../../fonts/OpenSans-Regular"), url("../../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/OpenSans-Regular.woff") format("woff"), url("../../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/OpenSans-SemiBold.eot");
  src: local("../../fonts/Open Sans SemiBold"), local("../../fonts/OpenSans-SemiBold"), url("../../fonts/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../../fonts/OpenSans-SemiBold.woff") format("woff"), url("../../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Open Sans";
  font-weight: 400;
}
.wrapper .page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}

.header {
  background: rgb(245, 247, 255);
  padding: 23px 0 55px 0;
}
.header-container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header-container-menu__list {
  width: 433px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  line-height: 24px;
}
.header-container-form {
  position: relative;
}
.header-container-form__input {
  width: 307px;
  border-radius: 50px;
  height: 35px;
  padding-left: 15px;
}
.header-container-form__button {
  position: absolute;
  left: 275px;
  top: 3px;
  width: 28px;
  height: 28px;
  border-radius: 50px;
}

.button-auth {
  font-size: 16px;
}
.button-auth__login {
  color: rgb(66, 56, 175);
}
.button-auth__sing-up {
  color: rgb(39, 35, 35);
}

@media (max-width: 985px) {
  .header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-container__logo, .header-container__menu, .header-container__form, .header-container__button-auth {
    margin-bottom: 15px;
  }
}
@media (max-width: 425px) {
  .header-container-menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.intro {
  background: rgb(245, 247, 255);
}
@media (max-width: 950px) {
  .intro-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.intro-container-left__title {
  font-size: 45px;
  line-height: 55px;
  letter-spacing: 1.7px;
  color: rgb(53, 52, 52);
  margin-bottom: 18px;
}
.intro-container-left__title span {
  color: rgb(255, 92, 0);
}
.intro-container-left__text {
  letter-spacing: 1.2px;
  color: rgb(168, 168, 168);
  margin-bottom: 30px;
  line-height: 24px;
}
.intro-container-left-buttons__discover {
  width: 152px;
  background-color: rgb(84, 76, 172);
  border-radius: 6px;
  height: 44px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  -webkit-box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.2);
  margin-right: 34px;
}
.intro-container-left-buttons__demo {
  font-size: 16px;
  line-height: 62px;
  letter-spacing: 1.2px;
  color: rgb(0, 0, 0);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.intro-container-left-buttons__demo img {
  margin-right: 10px;
}
@media (max-width: 950px) {
  .intro-container-right img {
    max-width: 100%;
  }
}