.testimonial-container-respose, .featured-container-slider, .featured-container-slider-card__wrap, .choose-us-container-cards, .how-it-works-container, .logos-container, .intro-container, .header-container, .header-container-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.choose-us-container-cards-trusted, .choose-us-container-cards-easy, .choose-us-container-cards-faster {
  width: 350px;
  height: 254px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-left: 37px;
  padding-right: 37px;
  border-radius: 20px;
  -webkit-box-shadow: -1px 1px 20px 0px rgba(128, 128, 128, 0.1);
          box-shadow: -1px 1px 20px 0px rgba(128, 128, 128, 0.1);
  background: rgb(255, 255, 255);
}
@media (max-width: 375px) {
  .choose-us-container-cards-trusted, .choose-us-container-cards-easy, .choose-us-container-cards-faster {
    width: 300px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.choose-us-container-cards-trusted:hover, .choose-us-container-cards-easy:hover, .choose-us-container-cards-faster:hover {
  -webkit-box-shadow: 0px 12px 30px 0px rgba(71, 71, 71, 0.15);
          box-shadow: 0px 12px 30px 0px rgba(71, 71, 71, 0.15);
  background: rgb(249, 250, 255);
  position: relative;
  top: -15px;
}

.choose-us-container-cards-trusted__title, .choose-us-container-cards-easy__title, .choose-us-container-cards-faster__title {
  color: rgb(50, 50, 50);
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.2px;
}

.choose-us-container-cards-trusted__text, .choose-us-container-cards-easy__text, .choose-us-container-cards-faster__text {
  color: rgb(143, 143, 143);
  line-height: 22px;
  letter-spacing: 1.2px;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/OpenSans-Regular.eot");
  src: local("../../fonts/Open Sans Regular"), local("../../fonts/OpenSans-Regular"), url("../../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/OpenSans-Regular.woff") format("woff"), url("../../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/OpenSans-SemiBold.eot");
  src: local("../../fonts/Open Sans SemiBold"), local("../../fonts/OpenSans-SemiBold"), url("../../fonts/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../../fonts/OpenSans-SemiBold.woff") format("woff"), url("../../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Oswald";
  src: url("../../fonts/Oswald-Regular.eot");
  src: url("../../fonts/Oswald-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/Oswald-Regular.woff") format("woff"), url("../../fonts/Oswald-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Open Sans";
  font-weight: 400;
}
.wrapper .page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}

.header {
  background: rgb(245, 247, 255);
  padding: 23px 0 55px 0;
}
.header-container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header-container-menu__list {
  width: 433px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  line-height: 24px;
}
.header-container-form {
  position: relative;
}
.header-container-form__input {
  width: 307px;
  border-radius: 50px;
  height: 35px;
  padding-left: 15px;
}
.header-container-form__button {
  position: absolute;
  left: 275px;
  top: 3px;
  width: 28px;
  height: 28px;
  border-radius: 50px;
}

.button-auth {
  font-size: 16px;
}
.button-auth__login {
  color: rgb(66, 56, 175);
}
.button-auth__sing-up {
  color: rgb(39, 35, 35);
}

@media (max-width: 985px) {
  .header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-container__logo, .header-container__menu, .header-container__form, .header-container__button-auth {
    margin-bottom: 15px;
  }
}
@media (max-width: 425px) {
  .header-container-menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.intro {
  background: rgb(245, 247, 255);
  margin-bottom: 32px;
}
@media (max-width: 950px) {
  .intro-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.intro-container-left__title {
  font-size: 45px;
  line-height: 55px;
  letter-spacing: 1.7px;
  color: rgb(53, 52, 52);
  margin-bottom: 18px;
}
.intro-container-left__title span {
  color: rgb(255, 92, 0);
}
.intro-container-left__text {
  letter-spacing: 1.2px;
  color: rgb(168, 168, 168);
  margin-bottom: 30px;
  line-height: 24px;
}
.intro-container-left-buttons__discover {
  width: 152px;
  background-color: rgb(84, 76, 172);
  border-radius: 6px;
  height: 44px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  -webkit-box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.2);
  margin-right: 34px;
}
.intro-container-left-buttons__demo {
  font-size: 16px;
  line-height: 62px;
  letter-spacing: 1.2px;
  color: rgb(0, 0, 0);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.intro-container-left-buttons__demo img {
  margin-right: 10px;
}
@media (max-width: 950px) {
  .intro-container-right img {
    max-width: 100%;
  }
}

.logos {
  margin-bottom: 66px;
}
.logos-container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 950px) {
  .logos-container {
    gap: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.how-it-works {
  margin-bottom: 119px;
}
.how-it-works-container {
  gap: 20px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media (max-width: 999px) {
  .how-it-works-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.how-it-works-container-left {
  line-height: 50px;
  letter-spacing: 1.5px;
}
.how-it-works-container-left__subtitle {
  color: rgb(255, 92, 0);
  font-family: "Oswald";
  font-size: 12px;
}
.how-it-works-container-left__title {
  font-family: "Oswald";
  font-size: 40px;
  color: rgb(53, 52, 52);
}

.spoilers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 22px;
}
.spoilers__spoiler {
  border-radius: 8px;
  background-color: rgb(245, 247, 255);
}
.spoilers__spoiler-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  padding: 0 22px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.spoilers__spoiler-header-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.spoilers__spoiler-number {
  width: 30px;
  height: 30px;
  font-weight: 600;
  color: rgb(148, 68, 201);
  background-color: rgb(243, 224, 255);
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 22px;
}
.spoilers__spoiler-title {
  font-size: 16px;
  font-weight: 600;
  color: rgb(50, 50, 50);
}
.spoilers__spoiler .arrow {
  width: 16px;
  height: 16px;
  background: url("../../img/how-it-works/down-arrow.png") no-repeat center/contain;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.spoilers__spoiler-content {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease-in-out;
  transition: max-height 0.3s ease-in-out;
  padding-top: 10px;
}
.spoilers__spoiler-checkbox:checked ~ .spoilers__spoiler-content {
  max-height: 200px;
  padding: 10px 4px 21px 59px;
  line-height: 22px;
  font-size: 12px;
  color: rgb(168, 168, 168);
}
.spoilers__spoiler-checkbox:checked ~ .spoilers__spoiler-header .arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.choose-us {
  margin-bottom: 119px;
}
.choose-us-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.choose-us-container__title {
  font-family: "Oswald";
  color: rgb(53, 52, 52);
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.5px;
  text-align: center;
  margin-bottom: 20px;
}
.choose-us-container__text {
  line-height: 24px;
  letter-spacing: 0.2px;
  text-align: center;
  margin-bottom: 60px;
  color: rgb(168, 168, 168);
  max-width: 543px;
}
.choose-us-container-cards {
  gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.choose-us-container-cards-trusted__img {
  width: 60px;
  height: 60px;
  border-radius: 7px;
  background: rgb(97, 86, 220) url(../../img/choose-us/compass.svg) no-repeat center;
}
.choose-us-container-cards-easy__img {
  width: 60px;
  height: 60px;
  border-radius: 7px;
  background: rgb(239, 96, 16) url(../../img/choose-us/compass.svg) no-repeat center;
}
.choose-us-container-cards-faster__img {
  width: 60px;
  height: 60px;
  border-radius: 7px;
  background: rgb(167, 62, 237) url(../../img/choose-us/compass.svg) no-repeat center;
}
.featured {
  margin-bottom: 119px;
}
.featured-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.featured-container__title {
  font-family: "Oswald";
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.5px;
  color: rgb(53, 52, 52);
  margin-bottom: 20px;
}
.featured-container__text {
  line-height: 24px;
  letter-spacing: 0.2px;
  max-width: 543px;
  color: rgb(168, 168, 168);
  margin-bottom: 80px;
}
.featured-container-slider {
  gap: 30px;
  margin-bottom: 76px;
}
@media (max-width: 1360px) {
  .featured-container-slider {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.featured-container-slider__arrow {
  width: 60px;
  height: 60px;
  border-radius: 7px;
}
.featured-container-slider__arrow-left {
  background-color: rgb(239, 96, 16);
}
.featured-container-slider-card {
  width: 380px;
  height: 465px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 12px 30px 0px rgba(71, 71, 71, 0.15);
          box-shadow: 0px 12px 30px 0px rgba(71, 71, 71, 0.15);
  overflow: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0 20px;
}
@media (max-width: 375px) {
  .featured-container-slider-card {
    width: 300px;
  }
}
.featured-container-slider-card__buttton-points {
  background-color: transparent;
  text-align: end;
}
.featured-container-slider-card__img {
  width: 83px;
  height: 83px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.featured-container-slider-card__title {
  font-size: 20px;
  line-height: 50px;
  letter-spacing: 0.2px;
  color: rgb(50, 50, 50);
  text-align: center;
}
.featured-container-slider-card__subtitle {
  line-height: 22px;
  letter-spacing: 0.2px;
  text-align: center;
  color: rgb(66, 56, 175);
}
.featured-container-slider-card__price {
  font-size: 16px;
  line-height: 50px;
  letter-spacing: 0.2px;
  color: rgb(50, 50, 50);
  text-align: center;
}
.featured-container-slider-card__price img {
  vertical-align: sub;
  padding-right: 10px;
}
.featured-container-slider-card__price span {
  font-size: 14px;
  color: rgb(137, 137, 137);
}
.featured-container-slider-card__address {
  font-size: 16px;
  line-height: 50px;
  letter-spacing: 0.2px;
  color: rgb(50, 50, 50);
  text-align: center;
}
.featured-container-slider-card__address img {
  vertical-align: sub;
  padding-right: 10px;
}
.featured-container-slider-card__address a {
  font-size: 14px;
  color: rgb(137, 137, 137);
  padding-left: 15px;
}
.featured-container-slider-card__wrap {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.featured-container-slider-card__heart {
  width: 49px;
  height: 49px;
  background-color: rgb(249, 250, 255);
  border-radius: 100px;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
}
.featured-container-slider-card__apply {
  width: 152px;
  background-color: rgb(84, 76, 172);
  border-radius: 47px;
  height: 44px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  -webkit-box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.2);
}
.featured-container__button-view {
  width: 152px;
  background-color: rgb(84, 76, 172);
  border-radius: 47px;
  height: 44px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  -webkit-box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.2);
}

#checked {
  position: relative;
  background: rgb(249, 250, 255);
  top: -35px;
}

.orange-heart {
  background-color: rgb(255, 92, 0);
}

.turquoise {
  width: 152px;
  background-color: rgba(56, 49, 139, 0.33);
  border-radius: 47px;
  height: 44px;
  color: rgb(56, 49, 139);
  font-size: 16px;
  -webkit-box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.2);
}

.testimonial {
  margin-bottom: 32px;
}
.testimonial-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.testimonial-container__title {
  font-family: "Oswald";
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.5px;
  color: rgb(53, 52, 52);
  margin-bottom: 20px;
}
.testimonial-container__text {
  max-width: 543px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: rgb(168, 168, 168);
  margin-bottom: 68px;
}
@media (max-width: 770px) {
  .testimonial-container-respose {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .testimonial-container-respose-photo__ava {
    width: 100%;
  }
}
.testimonial-container-respose-photo {
  position: relative;
  min-height: 350px;
  margin-right: 50px;
}
.testimonial-container-respose-photo__symbol {
  position: absolute;
  top: 10px;
  left: 60px;
}
.testimonial-container-respose-photo__circles {
  position: absolute;
  top: 240px;
  right: 310px;
}
@media (max-width: 420px) {
  .testimonial-container-respose-photo__circles {
    right: 205px;
    top: 160px;
  }
  .testimonial-container-respose-photo__symbol {
    left: 40px;
    top: -10px;
  }
}
.testimonial-container-respose-content__name {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: rgb(50, 50, 50);
  margin-bottom: 13px;
}
.testimonial-container-respose-content__position {
  line-height: 24px;
  letter-spacing: 0.2px;
  color: rgb(134, 134, 134);
  margin-bottom: 16px;
}
.testimonial-container-respose-content__grades {
  text-align: end;
  margin-bottom: 6px;
}
.testimonial-container-respose-content__text {
  line-height: 24px;
  letter-spacing: 0.2px;
  color: rgb(56, 56, 56);
  margin-bottom: 39px;
}
.testimonial-container-respose-content__other-response {
  text-align: end;
}