@import "nullstyle.scss";

.wrapper {
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   .page {
      flex: 1 1 auto;
   }
}

@mixin container() {
   max-width: 1130px;
   margin: 0 auto;
   padding: 0 15px 0 15px;
}

@import "header.scss";
