@use "../abstracts/mixins" as *;
@use "../abstracts/templates" as *;
@use "../abstracts/variables" as *;

.choose-us {
   margin-bottom: 119px;
   &-container {
      @include column();
      align-items:center;
      &__title {
         @extend %title;
      }
      &__text {
         @extend %text;
         margin-bottom: 60px;
      }
      &-cards {
         @extend %row;
         gap: 10px;
         flex-wrap: wrap;
         justify-content: center;
         &-trusted {
            @extend %chooseCard ;
            &__img {
               @include chooseCardWrap ();
            }
            &:hover {
               @extend %cardHover;
            }
            &__title {
               @extend %chooseCardTitle;
            }
            &__text {
               @extend %chooseCardText;
            }
         }
         &-easy {
            @extend %chooseCard ;
            &__img {
               @include chooseCardWrap (rgb(239, 96, 16));
            }
            &:hover {
               @extend %cardHover;
            }
            &__title {
               @extend %chooseCardTitle;
            }
            &__text {
               @extend %chooseCardText;
            }
         }
         &-faster {
            @extend %chooseCard ;
            &__img {
               @include chooseCardWrap (rgb(167, 62, 237));
            }
            &:hover {
               @extend %cardHover;
            }
            &__title {
               @extend %chooseCardTitle;
            }
            &__text {
               @extend %chooseCardText;
            }
         }
      }
   }
} 